/* FX */
html {
    overflow: auto;
    font-family: monospace !important;
}

html, body, iframe {
    margin: 0px;
    padding: 0px;
    height: 100%;
    border: none;
}

iframe {
    display: block;
    width: 100%;
    border: none;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
    z-index: 1;
}

main {
    position: relative;
    top: 0;
}

#app-control-menu,
#stream-control-menu{
    font-size: 25px;
    vertical-align: middle;
    color: white;
}

#app-control-menu:hover,
#stream-control-menu:hover{
    cursor: pointer;
}

#packages {
    position: absolute;
    width: 100%;
    display: inline-block;
    text-align: center;
    top: 25%;
}

#packages ul{
    margin: 0;
    padding: 0;
}

#packages ul li{
    display: inline-block;
    border: 1px solid white;
    margin: 0 10px;
    padding: 0 5px;
    width: 70px;
    height: 170px;
    vertical-align: middle;
    background: #0000008c;
    zoom: 1.5;
}

#packages ul li a{
    text-decoration: none;
    color: #fff;
}

#packages ul li a:hover{
    text-decoration: none;
    color: #848484;
}

#packages ul li h1{
    font-size: 50px;
    line-height: 2;
}

#packages ul li h5{
    font-size: 14px;
}

#player {
    position: absolute;
    top: 0;
    right: 15%;
    left: 15%;
    z-index: 10;
    padding: 10px 0px;
    text-align: center;
}

#channel-list ul{
    padding: 0;
    margin: 0;
    text-align: center;
    opacity: 0.7;
    zoom: 0.75;
}

#channel-list ul li{
    cursor: pointer;
    display: inline-block;
    color: whitesmoke;
    font-size: 10px;
    padding: 5px 10px;
    margin: 5px 5px 0px 5px;
    box-shadow: 0px 1px 6px 1px #181818;
    text-shadow: 1px 1px 3px #181818;
    text-decoration: none;
    background: radial-gradient(circle, rgba(147,143,143,1) 16%, rgba(115,114,114,1) 78%);
}

.select2-container{
    min-width: 320px;
    max-width: 420px;
}

.select2-container--classic .select2-selection--single{
    background-color: #ffffff78;
    background-image: none;
}

.select2-container--classic .select2-selection--single:focus{
    border: 1px solid #ffffff5c;
}

.select2-container--classic .select2-selection--single .select2-selection__rendered{
    color: #fff;
}

#channel-list{
    visibility: hidden;
}

#playlist{
    display: inline-block;
    padding: 5px 10px;
    text-transform: uppercase;
    background: #ffffff6b;
    margin: 5px 5px;
    vertical-align: middle;
}

#tv-channels{
    border: none;
    background: none;
    outline: none;
    vertical-align: sub;
    color: black;
    font-weight: bold;
}

#channel-list ul li.active{
    background: radial-gradient(circle, rgb(255 255 255) 16%, rgb(160 160 160) 78%);
}
